$color-1: #6dbcbe;
$color-2: #808080;

.c-main {
}
.c-main__wrap {
  display: block;
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
}

h3 {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-1;
  margin-bottom: 5px;
}

.c-recipe {
  display: block;
  width: 100%;
}
.c-recipe__item {
  .o-thumbnail {
    margin-bottom: 15px;
  }
}
.c-recipe__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  @media screen and (min-width: "700px") {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: "1000px") {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.o-btn {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: $color-1;
  color: #fff;
  transition: background-color 300ms ease;
  &:hover {
    cursor: pointer;
    background-color: darken($color: $color-1, $amount: 10);
  }
}

.o-btn--arrow_right {
  position: relative;
  padding-right: 50px;
  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("./image/i-arrow-double-right.svg");
    background-size: contain;
    background-repeat: repeat;
  }
}

.o-btn__wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 15px;
}

.o-thumbnail {
  display: block;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: none;
  background-color: $color-2;
}

.o-img__wrap {
  img {
    display: block;
    width: 100%;
  }
}

.c-view {
}
.c-view__header {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.c-view__title {
  display: block;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  color: $color-1;
}
.c-view__description {
  display: block;
  width: 100%;
  font-style: italic;
  padding: 10px 0;
  p {
    font-size: 18px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.c-view__date {
  display: block;
  width: 100%;
  font-size: 12px;
  color: $color-2;
  font-style: italic;
  span {
    font-weight: bold;
  }
}

.c-estimate {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.c-estimate__info {
  display: block;
  width: 100%;
  font-size: 14px;
  span {
    font-weight: bold;
  }
}

.c-ingredient {
  display: block;
  width: 100%;
  ul {
    padding-left: 15px;
    margin-bottom: 15px;
  }
  li {
    font-size: 14px;
    line-height: 22px;
    position: relative;
    list-style-type: none;
    padding-left: 20px;
    &:before {
      position: absolute;
      top: 6px;
      left: 0;
      content: "";
      height: 12px;
      width: 12px;
      background-image: url("./image/i-checked.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.c-direction {
  display: block;
  width: 100%;
  ol {
    padding-left: 30px;
    margin-bottom: 15px;
  }
  li {
    font-size: 14px;
    line-height: 22px;
  }
  span {
    color: #3d7a47;
  }
}

.c-modal {
  max-width: 800px;
}

.c-tag,
.ant-tag {
  text-transform: uppercase !important;
  &:hover {
    cursor: pointer !important;
  }
}

.c-pop__code {
  font-weight: bold;
}
